<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <div class="container">
        <p>This is my custom content</p>
    </div>
</body>

</html>