doctype html
html(lang="en")
  head
    title= "Webpack 102"
    script(type='text/javascript').
      if (foo) bar(1 + 5)
  body
    include shared/header
    #root.container
      p.
        Loading...